body {
    margin: 0;
}

.ui {
    position: absolute;
    z-index: 100;
}

form {
    width: 365px;
    height: 48px;
    margin-top: 12px;
    margin-left: 12px;
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(169,169,169,0.50);
    border-radius: 2px;
    cursor: pointer;
}

#searchbar #menu{
    border: 0px;
    height: 48px;
    width: 48px;
    background-color: white;
    background-image: url('../img/icons/menu.svg');
    background-repeat: no-repeat;
}

#searchbar #searchbar {
    background-color: white;
}

h1 {
    position: absolute;
    color: blue;
    z-index: 100;
}